.coche {
  position: relative;
  display: block;
  width: 150px;
  padding-top: 20px;
  margin-left: 0px;
}
.pistaCarreras {
  background: url(../img/track.png) left repeat-x;
  background-size: 75% 100%;
  height: 120px;
  border-right: dashed 10px orange;
  box-sizing: border-box;
  margin-bottom: 5px;
}

#body {
  margin: 0px;
  background-color: gainsboro;
}
#botones {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#elSelect {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-radius: 12px;
  font-size: 14px;
  border: 2px solid rgb(70, 69, 69);
  width: 30%;
  margin-left: 35%;
  background-color: #4CAF50;
  color: gainsboro;
}
#header {
  background-image: url(../img/arbolitos.png);
  border:  dashed;
  border-color: rgb(211, 69, 69);

}
#arrancar, #reiniciar{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-radius: 12px;
  font-size: 14px;
  border: 2px solid #3e8e41;
  background-color: #4CAF50;;
  width: 30%;
  margin: 10px;
  color: gainsboro;
  
}
#arrancar:active, #reiniciar:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}
#arrancar:hover, #reiniciar:hover, #elSelect:hover {
  background-color: #3e8e41
}
.quitame, thead, tr, td {
  text-align: center;
  font-family: cursive;
  font-size: 26px;
  color: aliceblue;

}
.quitame, thead, td{
  border: 4px solid gainsboro;
  border-collapse: collapse;
  
}

thead, td{
background-color: #4CAF50;

}
#tablaAqui{
  position: absolute;
  top: 130px;
  left: 44%;
  display: none;
}